.hidden{
    visibility: hidden;
}

.register-container{
    position: fixed;
    top:0;
    left:0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;    
    background-color: rgba(21, 21, 21, 0.1);
    z-index: 100;
	color: green;
}

.register-popup{
    position: absolute;
    background-color: white;
    width: 600px;
    height: 600px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

.register-logo{
    width: 150px;
    height: 130px;
}

.register-input-container{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    align-items: center;
}

.register-input{
    height: 50px;
    width: 400px;
    border: solid 1px #898989;
    font-size: 25px;
}

.register-register-btn{
    height: 50px;
    width: 500px;
    margin-top: 50px;
    font-size: 25px;
    color: white;
    border-radius: 999px;
    border:0;
    background-color: #2EC00E;
    cursor: pointer;
    transition: .2s;
}

.register-register-btn:hover{
    border: 1px #2EC00E solid;
    background-color: white;
    color: black;
    transition: .2s;
}

.register-forgot-password{
    margin: 0;
    margin-left: 325px;
    margin-top: 20px;
    font-size: 25px;
}

.register-no-account{
    margin: 0;
    font-size: 25px;
    margin-top: 50px;
}

.register-no-account >button{
    border: 0;
    background-color: transparent;
    text-decoration: underline;
    font-size: 25px;
    cursor: pointer;
}

.exit-btn{
    position: absolute;
    top: 20px;
    left:530px;
    width: 50px;
    height: 50px;
    border: 0;
    background-color: transparent;
    cursor: pointer;
}


