body{
    display: flex;
    position: relative;
    width: 1920px;
    height: 2800px;
    background: #EEEEEE;
    padding: 0;
    margin: 0;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
footer{
    margin: 0;
    padding: 0;
}
.Logo{
    position: absolute;
    width: 100px;
    height: 86.77px;
    left: 17px;
    top: 13px;
}
.Logo img{
    width: 100%;
}
.navigator_bar{
    position: fixed;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 0px;
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 2;
}
.guide{
    position: absolute;
    width: 173px;
    height: 35px;
    left: 775px;
    top: 35px;
    
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #656565;
    }
.aboutus{
    position: absolute;
    width: 200px;
    height: 35px;
    left: 1000px;
    top: 35px;  
    text-decoration: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #656565;
}
.login{
    position: absolute;
    width: 200px;
    height: 35px;
    left: 1250px;
    top: 35px;
    text-decoration: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #656565;
	
	background-color: transparent;
	border: 0;
}
.input_search{
    position: absolute;
    width: 250px;
    height: 50px;
    left: 1450px;
    top: 25px;
}
.button_search{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 1725px;
    top: 25px;
}
input[type=search]{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #A5A5A5;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: white;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
input[type=submit]{
    background: #2EC00E;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
}
.search_content{
    position: absolute;
    width: 1820px;
    height: 2070px;
    left: 55px;
    top: 200px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
.search_content_img{
    position: absolute;
    width: 25px;
    height: 100px;
    left: 95px;
    top: 50px;

    background: #2EC00E;
}
.search_content_title{
    position: absolute;
    width: 1000px;
    height: 100px;
    left: 125px;
    top: 50px;

    background: linear-gradient(90deg, #ECECEC 0%, rgba(194, 194, 194, 0) 83.05%);
}
.search_content_title_texts{
    position: absolute;
    width: 1363px;
    height: 35px;
    left: 32px;
    top: 32px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
}
.input_search{
    position: absolute;
    width: 250px;
    height: 50px;
    left: 1450px;
    top: 25px;
}
.button_search{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 1725px;
    top: 25px;
}
.input_content_search{
    position: absolute;
    width: 700px;
    height: 50px;
    left: 95px;
    top: 205px;
}
.content_search_button{
    position: absolute;
    width: 130px;
    height: 35px;
    left: 845px;
    top: 205px;
}
.extend_button{
    position: absolute;
    width: 130px;
    height: 35px;
    left: 1000px;
    top: 205px;
}
.extend_button_button{
    text-transform: uppercase;
    background: #2EC00E;
    padding: 15px 0px;
    text-align: center;
    width: 100%;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Roboto';
    font-style: normal;
    border-radius: 10px;
    color: #FFFFFF;
    border: none;
}
.result_search{
    display: block;
    position: absolute;
    width: 1600px;
    height: 0px;
    left: 105px;
    top: 200px;

    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
}
.result_search_items{
    display: block;
    width: 1600px;
    height: 300px;
    top: 250px;
    margin-top: 100px;
    padding-top: 20px;
    border-top: 1px solid black;
}
.result_search_items_img{
    position: absolute;
    width: 480px;
    height: 269.55px;
}
.result_search_items_img img{
    width: 100%;
    height: 100%;
}
.result_search_items_title{
    position: absolute;
    width: 1000px;
    height: 35px;
    left: 540px;
    background-color: white;
    z-index: 1;
}
.result_search_items_title_text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;

    color: #000000;

}
.result_search_items_content{
    position: absolute;
    width: 1000px;
    height: 250px;
    left: 540px;
    padding-top: 50px;
    text-overflow: ellipsis;
    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
.result_search_items_content::-webkit-scrollbar {
    display: none;
}
.result_search_items_content_texts{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #000000;

}
.page_choose{
    position: absolute;
    width: 1000px;
    height: 250px;
    top: 1970px;
    left: 700px;
}
a{
    text-decoration: none;
    color: inherit;
}
ul{
    display: flex;
    list-style-type:none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li{
    display: block;
    font-weight: 500;
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 0px 5px;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 24px;
    align-items: center;
    justify-content: center;
    background-color: #cccaca;
    text-decoration: none;
}
.current{
    color: rgb(255, 255, 255);
    background-color: #2EC00E;
}
.arrow{
    margin-top: 20px;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
  }
  
.right{
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
  
.left{
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
.content_footer{
    position: absolute;
    width: 1920px;
    height: 400px;
    left: 0px;
    top: 2300px;

    background: #B8B8B8;
}
.logo_footer{
    position: absolute;
    width: 300px;
    height: 260.31px;
    left: 50px;
    top: 45px;
}
.logo_footer img{
    width: 100%;
}
.search_bar_footer{
    position: absolute;
    width: 250px;
    height: 50px;
    left: 1450px;
    top: 50px;
}
.copyright{
    position: absolute;
    width: 1920px;
    height: 100px;
    left: 0px;
    top: 2700px;

    background: #92FF89;
}
.copyright_content{
    position: absolute;
    width: 301px;
    height: 35px;
    left: 809px;
    top: 32px;
}
.copyright_content_item{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    color: #000000;
}
.button_search_footer{
    position: absolute;
    width: 150px;
    height: 50px;
    left: 1725px;
    top: 50px;
}